<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
   
    {% block styles_head %}
    {% endblock styles_head %}
    {% block title_head %}
    <title>Document</title>
    {% endblock title_head %}
</head>
<body>
   
    <div class='container-root'>

      <div class='header'>
        <div>
          <h1><a class='style-none' href={% url 'article:home' %}>🎃</a></h1>
        </div>
        <div class="user-inputs">
          <ul class="user-inputs-list">
            {% if  request.user.is_authenticated %}
            <li><a href={% url 'users:edit_data' %}>{{request.user.username}}</a></li>
            <li><a class="nav-link" href={% url 'users:logout' %}>Cerrar sesion</a></li>
            {% else %}
            <li><a class="nav-link" href={% url 'users:login' %}>Ingresar</a></li>
            <li><a class="nav-link" href={% url 'users:checkin' %}>Registrarse</a></li>
            {% endif %}
          </ul>
        </div>
      </div>


      <div class='container'>
        <div class='sidebar'>
          <ul class='sidebar-inputs-list'>
            <li><a class="nav-link" href={% url 'article:home' %}>Inicio</a></li>
            {% if request.user.is_staff %}
            <li><a class="nav-link" href={% url 'article:creator_article' %}>Crear articulo</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="content">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
      
    </div>



</body>
</html>