{% extends 'template_root.html' %}
{% load static %}
{% block styles_head %}
<link rel="stylesheet" href={% static 'css/style.css' %}>
{% endblock styles_head %}

{% block title_head %}
    <title>Inicio</title>
{% endblock title_head %}



{% block content %}

  <div> 
    {% if object_list %}
      {% for art in object_list  %}
        <div>
            <h2>{{art.titulo}}</h2>
            <h3>{{art.subtitulo}}</h3>
            <a class='btn-show-art' href={% url 'article:details_article' art.id %}>VER ARTICULO</a>
            {% if request.user.is_staff %}
            <a href={% url "article:eliminator_article" art.id %}>Eliminar articulo</a>
            <a href={% url "article:modificator_article" art.id %}>Modificar articulo</a>
            {% endif %}
          <div>
      {% endfor %}
    {% else %}
          <h2>No hay articulos cargados</h2>
    {% endif %}
  </div>


{% endblock content %}